@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.Main_window{
    background-color: #1d1d22fb;
    padding: 5px 10px;
    width: 100%;
    height: 100vh; /* Use min-height to prevent scaling */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Main_Window_Top{
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Main_window_First_Left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.Main_window_First_Left h4{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12.5px;
    font-weight: 300;
    opacity: .8;
    margin: 0 ;
}

.Main_window_First_Left h4:nth-child(2){
    font-size: 15px;
    opacity: 1;
}

.Main_Window_Second_Left{
    margin: 10px 0;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.Main_window_Top_Right{
    display: flex;
    width: 20%;
}

.Main_window_Top_Right button{
    padding: 7px 5px;
    border: none;
    background-color: #fff;
    color: #000;
    width: 100%;
    border-radius: 3px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color .7s ease-in-out,
                color .7s ease-in-out,
                border .7s ease-in-out;
}


.Main_window_Top_Right button:hover {
    background-color: #ce0202;
    color: #fff;
    border: none;
}

.Main_window_Top_Right button:nth-child(2){
    background-color: #ce0202;
    color: #fff;
    border: none;
}

.Main_Window_Center{
    width: 100%;
    height: 100%; /* Set the height to 100% to fill the screen */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 3px;
    position: relative;
}

.Main_Window_Center video {
    width: 100%; /* Set the video width to 100% */
    height: 100%; /* Set the video height to 100% to fill the container */
    object-fit: cover; /* Maintain aspect ratio */
}

.Main_Window_Bottom {
    display: flex;
    border-radius: 5px;
    overflow-x: auto;
    scroll-snap-type: x;
    scroll-behavior: smooth;
    scrollbar-width: none;
    width: 100%;
    cursor: grab;
    position: absolute;
    bottom: 0;
}

.Main_Window_Bottom::-webkit-scrollbar{
    display: none;
}

.video_Card_Wrapper{
    scroll-snap-align: start;
    margin: 0 5px ;
    user-select: none;
    width: 100%;
    position: relative;
}

.video_Card_Wrapper video{
    width: 140px;
    height: 90px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.Video_Footer{
    position: absolute;
    bottom:6px;
    left: 5px;
    width:130px;
    display: flex;
    justify-content: space-between;
    align-items:center ;
}


.Video_Footer h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}

.Video_Footer svg{
    background-color: #ffffff;
    color: #000;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.video_Card_Wrapper:active {
    cursor: grabbing;
}

.Main_window_Footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 3px 0 0 0;
}

.svg_Wrapper{
    margin: 0 5px;
    background-color: #fff;
    padding:5px 7.5px;
    border-radius: 50%;
}

.svg_Wrapper:nth-child(5){
    background-color: #ce0202;
    color: #fff;
}   

.svg_Wrapper svg{
  width: 20px;
  cursor: pointer;
}

.Side_Window{
    background-color: #fff;
    padding:4px 0 0 0;
    display: none;
    flex-direction: column;
}

.Side_Window_Indicator{
    display: flex;
    width: 100%;
    border-bottom: 2px solid #1d1d22fb;
    padding: 0 0 10px 0;
}

.Participants{
    display: none;
    flex-direction: column;
}

.Side_Window_Indicator button{
        padding: 7px 5px;
        border: none;
        background-color: #1d1d22fb;
        color: #fff;
        width: 100%;
        border-radius: 3px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 700;
        cursor: pointer;
        margin: 0 5px;
}

.Side_Window_Indicator button strong{
    padding: 3px;
    border-radius: 2px;
}

.Side_Window_Indicator button:nth-child(1) strong{
    background-color: #fff;
}

.Side_Window_Indicator button:nth-child(2) strong{
    background-color: #1d1d22fb;
}

.Side_Window_Indicator button:nth-child(2){
        background-color: #fff;
        color: #1d1d22fb;
        border: 2px solid #1d1d22fb;
}

.Side_Window_Indicator button strong{
        color: #ff0606;
        font-size: 12px;
}

.Side_Window_Second{
    position: relative;
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0 20px;
}

.Side_Window_Second input{
    width: 100%;
    padding: 5px 10px;
    border: .5px solid #1d1d22fb;
    border-radius: 3px;
}

.Side_Window_Second input:focus{
    outline: none;
}

.Side_Window_Second input::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #1d1d22fb; 
}

.Side_Window_Second input::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

.Side_Window_Second button{
    width: 35px;
    position: absolute;
    top: 0px;
    height: 26px;
    right: 20px;
    background-color: #000;
    cursor: pointer;
    border: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.Side_Window_Second svg{
    width: 20px;
    color: #fff;
    padding: 3px 0 0 0;
}

.Side_Window_Third{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px 0 ;
    padding: 0 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.Side_Window_Third p{
    font-weight: 700;
    font-size: 12px;
    margin: 0 0 10px 2px ;
}

.Side_Window_Third p:nth-last-child(2){
    margin: 5px 0 10px 2px ;
}

.Side_Window_Third p:nth-last-child(2) strong{
   color: #ff0606;
}

.Call_Data_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    cursor: pointer;
}

.Call_Data_Wrapper::-webkit-scrollbar{
    display: none;
}

.Invited_Call_Data_Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    cursor: pointer;
}

.Invited_Call_Data_Wrapper::-webkit-scrollbar{
    display: none;
}

.Call_Data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.Call_info{
    display: flex;
    align-items: center;
}

.Call_info h5{
   font-size: 12px;
   margin: 0 0 5px 0;
}

.Call_info span{
    font-weight: 400;
    font-size: 13px;
}

.Call_info img{
   width: 40px;
    border-radius: 50%;
    margin: 0 10px 0 0;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Call_Data .Svg{
    background-color: #1d1d22fb;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.Call_Data .Svg svg{
    color: #fff;
    width: 20px;
}

#wave0{
    padding: 4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    fill: #ffffff;
    background-color: #1d1d22fb;
}

#wave {
    padding: 4px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    fill: #ffffff;
    background-color: #1d1d22fb;
}

#Line_1 {
    animation: pulse 0.5s infinite;
    animation-delay: 0.15s;
}

#Line_2 {
    animation: pulse 0.5s infinite;
    animation-delay: 0.3s;
}

#Line_3 {
    animation: pulse 0.5s infinite;
    animation-delay: 0.45s;
}

#Line_4 {
    animation: pulse 0.5s infinite;
    animation-delay: 0.6s;
}

#Line_5 {
    animation: pulse 0.5s infinite;
    animation-delay: 0.75s;
}

#Line_6 {
    animation: pulse 0.5s infinite;
    animation-delay: 0.9s;
}

#Line_7 {
    animation: pulse 0.5s infinite;
    animation-delay: 1.05s;
}

#Line_8 {
    animation: pulse 0.5s infinite;
    animation-delay: 1.2s;
}

#Line_9 {
    animation: pulse 0.5s infinite;
    animation-delay: 1.35s;
}

@keyframes pulse {
    0% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
    
    50% {
        transform: scaleY(0.7);
        transform-origin: 50% 50%;
    }
    
    100% {
        transform: scaleY(1);
        transform-origin: 50% 50%;
    }
}

.Chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 5px 0 ;
    padding: 0 5px;
}

.Chat_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Chat_header p{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    text-transform: capitalize;
}


.Chats{
    margin:2px 0 ;
    background-color: #1d1d22fb;
    width: 100%;
    height: 522px;
    border-radius:3px;
    overflow-y: scroll;
    cursor: pointer;
    position: relative;
}

.Chats::-webkit-scrollbar{
    display: none;
}

.Chat_Box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    padding: 0 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.Chat_Box img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Chat_info{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
}

.Chat_Bio{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Chat_Bio h3{
    font-size: 10px;
    font-weight: 700;
    color: #fff;
}

.Chat_info p{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    text-align: justify;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #141414;
}

.Chat_Box_You{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0;
    padding: 0 5px;
    font-family: 'Josefin Sans', sans-serif;
}

.Chat_Box_You img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Your_Chat{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
}

.You_Chat_Bio{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.You_Chat_Bio h3{
    font-size: 10px;
    font-weight: 700;
    color: #fff;
}

.Your_Chat p{
    font-size: 12px;
    font-weight: 400;
    color: #000; 
    text-align: justify;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #fff;
}


.Send_Text{
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 60px;
    width: 290px;
    background-color: #000000;
    z-index: 5;
    border-radius: 3px;
}

.Send_Text form{
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 4px 0 ;
    padding: 0 5px;
    border: none;
}

.Send_Text form textarea::-webkit-scrollbar{
    display: none;
}

.Send_Text form textarea{
   padding:2.5px 10px;
   resize: none;
}

.Send_Text form textarea:focus{
  outline: none;
}

.Send_Text button{
    padding: 0 7px ;
    background: #fff;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.Send_Text svg{
    width: 20px;
    color: #1d1d22fb;
}